*,*:after,*:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
/* body{
	font-family: arial;
	font-size: 16px;
	margin:0;
	background: #34aff3;
	display: flex;
	align-items: center;
	justify-content: space-around;
	min-height: 100vh;
} */

.container-card{
	/* margin:0; */
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	/* min-height: 50vh; */
}
/* 
img{
	max-width: 100%;
} */
.ui-card{
	width: 330px;
    height: auto;
	margin-bottom: 15px;
	position: relative;
	overflow: hidden;
	transition: all 0.3s ease-out;
	background:radial-gradient(#111 50%, #000 100%);
	/* background:radial-gradient(rgb(220, 220, 220) 50%, rgb(220, 220, 220) 100%); */
}

@media (max-width: 1000px) {

    .container-card{
        display:grid;    /*Não permite que o texto vá pra baixo da foto*/
        position: relative;
    }
    .ui-card{
        margin-top: 10px;
    }
}

.ui-card img{
	transform: scale(1.1);          /*Escala de aparição*/
	transition: all 0.3s ease-out;
}
.ui-card:hover img{
	transform: scale(1.2) translateY(-5px); /*Escala de ampliação*/
	opacity: 0.3
}
.ui-card .description{
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 15px;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 18px;
}
/* .ui-card .description h3{
	font-weight: 700;
	font-size: 32px;
	margin: 0 0 20px;
	transform: translateY(30px);
	opacity: 0;
	transition: all 0.3s ease-out;

} */
/* .ui-card .description p{
	transform: translateY(30px);
	opacity: 0;
	transition: all 0.3s ease-out 0.2s;
} */
.ui-card .description a{
	color: #fff;
    /* color: black; */
	/* background:#34aff3; */
	display: inline-block;
	padding: 20px 20px;
	border-radius: 5px;
	text-decoration: none;
	/* transform: translateY(30px); */
	opacity: 0;
	transition: all 0.3s ease-out 0.1s;
}
.ui-card .description a:hover{
	/* background:#0a83c5; */
}
.ui-card:hover .description h3{
	opacity: 1;
	transform: translateY(0px);
}
.ui-card:hover .description p{
	opacity: 1;
	/* transform: translateY(-65px); */
    /* color: white; */
    color: black;
}
.ui-card:hover .description a{
	opacity: 1;
	transform: translateY(-80px);
}
