.whatsapp-link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.fa-whatsapp {
    margin-top: 16px;
}

.menu-principal {
    width: 100%;
    /* background-color: white; */
    /* background-color: #252323; */
    height: 50px;
    padding: 10px;
}

.logo {
    text-align: center;     /*Logo alinhada ao centro*/
    /* float: left; */      /*Logo alinhada à esquerda*/
    /* padding: 10px; */
    width:30%;
}

.tamlogo {
    width: 270px;
    height: auto;
}

nav {
    /* background-color: #0D0D0D; */
    /* background-color: white; */
}

body {
    /* margin-top: 15px; */
    color: #0D0D0D;
    /* background-color: #F2F2F2; */
    /* background-color: white; */
    background-image: linear-gradient(to bottom, white, #F2F2F2, #D9D9D9);
    font-family:Verdana, Geneva, Tahoma, sans-serif
    /* text-transform: uppercase;     */
    /* width:980px; */
}

/* BARRA MENU: DEIXAR UM ÍTEM DO LADO DO OUTRO */
ul {
    border-bottom: 0.1px solid black;
    font-weight: bold;
    text-transform: uppercase;    
    display: flex;          /* Um tópico do lado do outro*/
    justify-content: space-between;
    list-style-type: none;  /* Tirando modelo de itemização*/
    align-items: center;    /* Alinhando verticalmente ao centro*/
    padding: 5px;           /*Largura da faixa que envolve a barra*/
    margin-top: 10px;       /* Espaçamento entre ícones das redes sociais*/
    /* padding: 0px!important; */
}

header{
    /* /* background-color: white; */
    width:980px;
    margin: 0 auto;
    /* margin-top: 50px; */
    margin-bottom: 15px;
    padding: 25px;
}

.header-2 {
    /* /* background-color: white; */
    width:980px;
    margin: 0 auto;
    /* padding: 5px; */
}

a {
    /* color: white;     Opções da barra de menu */
    color: black;
    text-decoration: none;  /* Des-sublinhando ítens */
}


.borda {
    width: 150px;
    height: auto;
    border-radius:50%;          /* Estilizando bordas da imagem */
    border: 2px solid #8b8b8b;
    }

    .borda2 {
        border-radius:3%;          /* Estilizando bordas da imagem */
        border: 2px solid #343434;
    }
    
    /* CRIANDO CLASSE PARA CENTRALIZAR FOTOS/TEXTOS/ETC. */
.center {
    text-align: center;
    align-items: center;
}
.cornome {
/* color: #069656; */
color: #590202
}

h1 {
    text-transform: uppercase;    
    color:black;
}

h2 {
    text-transform: uppercase;    
    /* color:#595959; */
    color:black;
}

h3 {
    color:#595959;
}

p {
    text-align: justify;
    color: #595959;
}

main {
    margin: 0 auto;
    width: 980px;
    /* float:left; */
    position: relative;
}

.coluna {
    flex-direction: column;
    gap: 32px;
}

.tamfotos {
    width: 540px;
    height: auto;
    border-radius:3%;          /* Estilizando bordas da imagem */
    border: 3px solid #343434;
}

.tamfotosmenor {
    width: 400px;
    height: auto;
    border-radius:3%;          /* Estilizando bordas da imagem */
    border: 2px solid #343434;
}

.imagemprojeto {
    width: 25vw;
    padding-left: 15px;
}

footer img {
    width: 40px;
    height: 40px;
}
section {
    border-bottom: 0.4px solid black;
    /* margin: 0 auto; */
    margin-top: 20px;
    width: 980px;
    padding: 15px;
    position: relative;
}

footer {
    margin-top: 30px;
    margin: 0 auto;     /* Mantém os elementos do bloco centralizados na página*/
    position: relative;
    width: 980px;
    display: flex;      /* Para deixar um item ao lado do outro */
    justify-content: center
}

footer a{
    margin: 20px;       /* Espaçamento entre ícones das redes sociais*/
    text-align: center;
}

footer p{
    margin-top: 2px;       /* Espaçamento entre ícones das redes sociais*/
}

.container {
    padding: 0px 50px;      /* Reduzindo largura do conteúdo contido entre margem esquerda e direita da página*/
}

nav a:hover {
    color: red
}

/* SERVIÇOS */

.servicos-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 30px
}

.botaoconfig {
    background-color: #d3d3d3;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px black;
    border-radius: 20px;
}

.botaoconfig:hover {
background-color: red;
}


/* CONTATO: */


.form {
    width: 100%;
    max-width: 32rem;
}

.form label,
.form input,
.form textarea {
    display: block;
    width: 100%;
}
/*
 .form label {
    color: rgb(0, 0, 0);
    line-height: 1;
    margin-bottom: 0.5rem;
} 

.form input,
.form textarea {
    font: inherit;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: border-color;
    box-shadow: 0.2s;

}

*/
 .form textarea {
    margin-bottom: 1rem;
    border-radius: 8px;
    min-height: 13rem;
    resize: vertical;
}

/* 
.form input: hover,
.form input: focus,
.form textarea: hover,
.form textarea: focus {
    outline: none;
    border-color: #09d;
    box-shadow: 0 0 0 3px #4dc8ff;
}

*/

.form button {
    display: block;
    background: #0072c4;
    color: #fff;
    font: inherit;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.form button:hover,
.form button:focus {
    outline: none;
    background: #09d;
}



/* TUTORIAL BASE */

.form {
    width: 100%;
    max-width: 32rem;
    margin: 0 auto;
}
.form input {
border-radius: 8px;
width: 100%;
padding: 8px 0px;
margin: 8px 0px;
}

/* .form input[type=text] {
    height: 100px;
} */

button {
    margin-left: 12.5rem;
    background-color: white;
    border: none;
    width: 100px;
    height: 30px;
}