@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto+Slab:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=PT+Sans+Narrow&family=Roboto+Slab:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');

/* Configuração global: */
/* *{
height: 100%;
} */

body {
    color: #0D0D0D;
    background-image: linear-gradient(to bottom, white, #F2F2F2, #D9D9D9);
    background-attachment: fixed;
    /* background: #abbaab;  fallback for old browsers
    background: -webkit-linear-gradient(to bottom, #ffffff, #abbaab);  Chrome 10-25, Safari 5.1-6
    background: linear-gradient(to bottom, #ffffff, #abbaab); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            font-family: 'Catamaran', sans-serif;
}

/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 2.5rem;
  
  /*===== Colores =====*/
  --first-color: #c5c5c5;
  --dark-color: white;
  --dark-color-alt: white;
  --white-color: #313030;

  /*===== Fuente y tipografia =====*/
  --body-font: 'Poppins', sans-serif;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*===== z index =====*/
  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*===== _______________________BASE______________________ =====*/
*, ::before, ::after {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.dp-menu ul li:hover ul{
  display: block;
}

.bd-grid {
  max-width: 1024px;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/*===== _________________________HEADER_________________________ =====*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(var(--header-height) + 1.2rem);
  padding: 0 1.5rem;
  background-color: var(--dark-color);
  z-index: var(--z-fixed);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* .header__logo {
  color: var(--white-color);
} */

.header__toggle {
  font-size: 1.5rem;
  cursor: pointer;
}

/*===== ______________________NAV BAR__________________________ =====*/
@media screen and (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: var(--dark-color);
    color: var(--white-color);
    width: 50%;
    height: 90vh;
    padding: 1.5rem 0;
    z-index: var(--z-fixed);
    -webkit-transition: .5s;
    transition: .5s;
    overflow-y: auto;
  }
}

.nav__content {
  height: 100%;
  -ms-grid-rows: max-content 1fr max-content;
      grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
      grid-template-rows: max-content 1fr max-content;
  row-gap: 2rem;
}

.nav__close {
  position: absolute;
  right: 1.5rem;
  font-size: 1.3rem;
  padding: .25rem;
  background-color: var(--dark-color-alt);
  border-radius: 50%;
  cursor: pointer;
}

.nav__img {
  display: flex;
  justify-content: center;
  margin-bottom: .8rem;
  width: 106px;
  height: 106px;
  background-color: white;
  border-radius: 50%;
  border: 0.5px solid #343434;
  overflow: hidden;
}

.nav__img img {
  width: 96px;
}

.nav__name {
  display: block;
  color: var(--white-color);
}

.nav__profesion {
  font-size: var(--small-font-size);
}

.nav__menu {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav__item {
  margin: 2rem 0;
}

.nav__link {
  color: var(--white-color);
}

.nav__link:hover {
  color: #595959;
  /* background-color: var(--first-color); */
}

.nav__social {
  padding-top: .5rem;
}

.nav__social-icon {
  font-size: 1.2rem;
  color: var(--white-color);
  margin-right: 1rem;
}

.nav__social-icon:hover {
  color: var(--first-color);
}

/*Aparecer menu*/
.show {
  left: 0;
}

/*Active menu*/
.active {
  color: #595959;
}

/*=== Dropdown ===*/
.dropdown__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default;
}

.dropdown__icon {
  font-size: 1.3rem;
  transition: .5s;
}

.dropdown__menu {
  margin: 1rem 0 0 1rem;
  display: none;
}

.dropdown__item {
  margin: 1rem 0;
}

.dropdown:hover > .dropdown__menu {
  display: block;
}

.dropdown:hover .dropdown__icon {
  transform: rotate(180deg);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 576px) {
  .nav {
    width: 288px;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .header {
    height: calc(var(--header-height) + 1rem);
  }
  .header__logo, .header__toggle {
    display: none;
  }
  .nav {
    width: 100%;
  }
  .nav__content {
    -ms-grid-columns: (max-content)[3];
        grid-template-columns: repeat(3, -webkit-max-content);
        grid-template-columns: repeat(3, max-content);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav__close, .nav__profesion {
    display: none;
  }
  .nav__perfil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__img {
    width: 32px;
    height: 32px;
    margin-right: .5rem;
    margin-bottom: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__img img {
    width: 26px;
  }
  .nav__list {
    display: flex;
    align-items: center;
  }
  .nav__item {
    margin: 0 .25rem;
  }
  .nav__link {
    padding: .3rem .8rem;
    border-radius: .25rem;
  }
  .nav__link:hover {
    background-color: var(--first-color);
  }
  .active {
    background-color: var(--first-color);
    color: var(--white-color);
  }

.dropdown {
  position: relative;
}
.dropdown__menu {
  background-color: white;
  position: fixed;
  margin: 0;
  top: calc(var(--header-height) + 0.4rem);
  padding: .5rem 1.5rem;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  border-radius: .5rem;
}
.dropdown__item {
  margin: .5rem 0;
}
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}

/* _____________________________FLEXBOX_______________________________________ */

/* .mySlides {display:none;}

.containercapa {
  width: 1440px;
} */
/* ___________________________________________________________________________ */

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto+Slab:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=PT+Sans+Narrow&family=Roboto+Slab:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');


main {
    /* padding: 20px; */
    min-width: 320px;   /*Especifica a largura mínima que os elementos da tela principal irão ocupar (até largura máxima para quando o celular está na vertical)*/
    max-width: 980px;   /*Especifica largura máxima (quando o celular está deitado)*/
    margin: auto;       /*Alinha conteudo ao centro*/
    /* width: 980px; */
    /* float:left; */
    position: relative;
    margin-top: 100px;
}

.main_container {
  min-width: 320px;   /*Especifica a largura mínima que os elementos da tela principal irão ocupar (até largura máxima para quando o celular está na vertical)*/
  max-width: 980px;   /*Especifica largura máxima (quando o celular está deitado)*/
  margin: auto;       /*Alinha conteudo ao centro*/
  /* width: 980px; */
  /* float:left; */
  position: relative;
  margin-top: 30px;
}

/*_______________________ ACIMA DA BARRA DE NAVEGADOR ______________________*/

.tamlogo {
    width: 200px;
    height: auto;
}

/* ______________________ TEXTOS ________________________________ */


#fonte{
  font-size: 14pt;
}

.texto_L{
  /* margin-left: 23rem; */
  /* position: relative; */
  text-align: left;
  color: #595959;
}

.container_lado {
  display: grid;    /*Não permite que o texto vá pra baixo da foto*/
  padding: 2rem;
  grid-template-columns: 400px 1fr;
  gap: 5rem;
  align-items: top;
  max-width: 1024px;
  margin: 0 auto;
  font-size: 14pt;
  /* font: 500 100%/1.5 system-ui; */
  }


  @media (max-width: 768px) {

  .texto_L{
    text-align: center;
  }

  .container_lado {
      display: block;
      /* font-size: 80%; */
  }

  .testeimg {
  max-width: 300px;
  height: auto;
  /* margin: -2rem 3rem 1rem; */
}

  .par_lado {
      max-width: max-content;
      position: relative;
      margin: 0rem 0 -3rem -1rem;  /*distancia topo | - | distancia base | distancia esquerda*/
      text-align: center;
      padding: 2rem;
      background: rgba(white, 0.8);
  }
  }

.texto_L_en{
  /* margin-left: 2rem; */
  /* position: relative; */
  text-align: left;
  color: #595959;
}

.espaco{
  margin-top: 50px;
}

/* CRIANDO CLASSE PARA CENTRALIZAR FOTOS/TEXTOS/ETC. */
.center {
    text-align: center;
    /* text-align-last: center; */
    /* align-items: center; */
}   

.center p {
    text-align: justify;

}
/* CRIANDO CLASSE PARA CENTRALIZAR À DIREITA FOTOS/TEXTOS/ETC. */
.direita {
    text-align: right;
    /* align-items: right; */
}
.cornome {
/* color: #069656; */
color: #590202
}

h1 {
    text-transform: uppercase;    
    color:black;
}

h2 {
    text-transform: uppercase;    
    /* color:#595959; */
    color:black;
}

h3 {
    color:black;
}

h4 {
  color:#4a4a4a;
}

p {
    /* text-indent: 20px; */
    color: #595959;
}
/* ______________________DESCONHECIDO______________________ */

.coluna {
    flex-direction: column;
    gap: 32px;
}

.detel {
    margin-left: 8%;
    margin-top: 15%;
}

/*____________________________PROPRIEDADES IMAGENS___________________________________*/


img {
  max-width: 100%;
  height: auto;
  object-fit: scale-down;
}

#imgesq{
  float:left;
  margin-right: 20px;
}

.vert_alin{
vertical-align: "middle";
}

/* _________Disposição de fotos em série:_______ */
.features {
  /* padding: 5px; */
  /* display: flex; */
  flex-wrap: nowrap | wrap | wrap-reverse;
  justify-content: center;
}

.features img {
  /* margin: auto; */
  height: 315px;
}

/* _________________BORDAS______________________ */

/* borda Perfil */
.borda {
    width: 150px;
    height: auto;
    border-radius:50%;          /* Estilizando bordas da imagem */
    border: 2px solid #8b8b8b;
    }

.borda_fina {    
    border: 1px solid #343434;
}

.borda_vert_alin{
  border: 1px solid #343434;
  vertical-align: middle;
  margin: 5px 20px;
  }

  /* __________________________________SEÇÕES______________________________________ */

section {
    border-top: 0.4px solid black;
    padding: 10px;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
}

/* ___________________________________ RODAPÉ _____________________________________ */

footer {
    min-width: 320px;   /*Especifica a largura mínima que os elementos da tela principal irão ocupar (até largura máxima para quando o celular está na vertical)*/
    max-width: 840px;   /*Especifica largura máxima (quando o celular está deitado)*/
    padding-bottom: 30px;
    margin-top: 30px;
    margin: 0 auto;     /* Mantém os elementos do bloco centralizados na página*/
    position: relative;
    /* width: 980px; */
    display: flex;      /* Para deixar um item ao lado do outro */
    justify-content: center;
}

footer a{
    margin: 20px;       /* Espaçamento entre ícones das redes sociais*/
    text-align: center;
}

footer p{
    margin-top: 2px;       /* Espaçamento entre ícones das redes sociais*/
}

.footer-2 {
    text-align: center;
    align-items: left;
    /* margin-left: auto; */
    /* margin-right: 100px; */
    margin-bottom: 50px;
}

/* ________________________________SERVIÇOS________________________________ */

.servicos-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 30px
}

.botaoconfig {
    background-color: #d3d3d3;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px black;
    border-radius: 20px;
}

.botaoconfig:hover {
background-color: red;
}


/* CONTATO: */


.form {
    width: 100%;
    max-width: 32rem;
    margin: 0 auto;
}

.form label,
.form input,
.form textarea {
    display: block;
    width: 100%;
}

 .form textarea {
    margin-bottom: 1rem;
    border-radius: 8px;
    min-height: 13rem;
    resize: vertical;
}

.form button {
    display: block;
    background: #0072c4;
    color: #fff;
    font: inherit;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.form button:hover,
.form button:focus {
    outline: none;
    background: #09d;
}



/* _______________TUTORIAL BASE_________________________ */

.form input {
border-radius: 8px;
width: 100%;
padding: 8px 0px;
margin: 8px 0px;
}

button {
  /* margin-left: 12.5rem; */
  font-family: 'Catamaran', sans-serif;
  cursor: pointer;
  margin: 0 auto;
  background-color: rgb(197, 197, 197);
  border: none;
  width: 100px;
  height: 30px;
}

/* _______________ACESSO WHATS_________________ */
.whatsapp-link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.fa-whatsapp {
    margin-top: 16px;
}