body {
    color: #0D0D0D;
    background-image: linear-gradient(to bottom, white, #F2F2F2, #D9D9D9);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* font-family: 'Fjalla One', sans-serif; */
}

main {
    padding: 20px;
    min-width: 320px;   /*Especifica a largura mínima que os elementos da tela principal irão ocupar (até largura máxima para quando o celular está na vertical)*/
    max-width: 840px;   /*Especifica largura máxima (quando o celular está deitado)*/
    margin: auto;       /*Alinha conteudo ao centro*/
    /* width: 980px; */
    /* float:left; */
    /* position: relative; */
}

img {
    width: 100%;        /*Mantém imagem dimensionada com o texto, impedindo rolagem na página*/
    height: auto;
}

/*_______________________ ACIMA DA BARRA DE NAVEGADOR ______________________*/

.tamlogo {
    width: 250px;
    height: auto;
}

header{
    /* /* background-color: white; */
    /* min-width: 320px;   /*Especifica a largura mínima que os elementos da tela principal irão ocupar (até largura máxima para quando o celular está na vertical)*/
    /* max-width: 800px;   Especifica largura máxima (quando o celular está deitado) */ */
    margin: 0 auto;
    margin-left: 50px;
    height: 50px;
    padding: 10px;
}

/*_______________________ BARRA DE NAVEGADOR ______________________*/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;    /*Viewport Height: unidade responsiva que se adapta à altura da janela de navegação do usuario*/
}

.header-2 {
    margin: 0 auto;
    padding: 5px;
}

a {
    /* color: white;     Opções da barra de menu */
    color: black;
    text-decoration: none;  /* Des-sublinhando ítens */
}

/* BARRA MENU: DEIXAR UM ÍTEM DO LADO DO OUTRO */
ul {
    /* min-width: 320px;   Especifica a largura mínima que os elementos da tela principal irão ocupar (até largura máxima para quando o celular está na vertical) */
    /* max-width: 800px;   Especifica largura máxima (quando o celular está deitado)  */
    gap: 100px;
    border-bottom: 0.1px solid black;
    font-weight: bold;
    text-transform: uppercase;    
    display: flex;          /* Um tópico do lado do outro*/
    list-style-type: none;  /* Tirando modelo de itemização*/
    padding: 5px;           /*Largura da faixa que envolve a barra*/
    margin-top: 10px;       /* Espaçamento entre ícones das redes sociais*/
    /* padding: 0px!important; */
}

/* MENU PARA DISPOSITIVOS MÓVEIS */
/* Configurando os "3 -" para desaparecer sob determinadas condições: */
.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    ul {
        border-bottom: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
}

.mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center0;
    padding-bottom: 1rem;
}

.mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
}

.open {
    display: block;
}

.icon {
    height: 23px;
    width: auto;
}

/*_______________________________________________________________*/

.borda {
width: 150px;
height: auto;
border-radius:50%;          /* Estilizando bordas da imagem */
border: 2px solid #8b8b8b;
}

.borda2 {
    border-radius:3%;          /* Estilizando bordas da imagem */
    border: 2px solid #343434;
}

.tamfotos {
    width: 540px;
    height: auto;
    border-radius:3%;          /* Estilizando bordas da imagem */
    border: 3px solid #343434;
}

.tamfotosmenor {
    width: 400px;
    height: auto;
    border-radius:3%;          /* Estilizando bordas da imagem */
    border: 2px solid #343434;
}

.tamfotosmenor2 {
    width: 320px;
    height: auto;
    border-radius:3%;          /* Estilizando bordas da imagem */
    border: 2px solid #343434;
}


/* ______________________ TEXTOS ________________________________ */


/* CRIANDO CLASSE PARA CENTRALIZAR FOTOS/TEXTOS/ETC. */
.center {
    text-align: center;
    /* text-align-last: center; */
    /* align-items: center; */
}   


.center p {
    text-align: justify;

}
/* CRIANDO CLASSE PARA CENTRALIZAR À DIREITA FOTOS/TEXTOS/ETC. */
.direita {
    text-align: right;
    /* align-items: right; */
}
.cornome {
/* color: #069656; */
color: #590202
}

h1 {
    text-transform: uppercase;    
    color:black;
}

h2 {
    text-transform: uppercase;    
    /* color:#595959; */
    color:black;
}

h3 {
    color:#595959;
}

p {
    /* text-indent: 20px; */
    color: #595959;
}
/* _____________________________________________________________ */
.coluna {
    flex-direction: column;
    gap: 32px;
}

.detel {
    margin-left: 8%;
    margin-top: 15%;
}

.imagemprojeto {
    width: 25vw;
    padding-left: 15px;
}

footer img {
    width: 40px;
    height: 40px;
}

.whatsapp-link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.fa-whatsapp {
    margin-top: 16px;
}

section {
    border-top: 0.4px solid black;
    padding: 10px;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
}
/* _____________________ RODAPÉ _________________________ */
footer {
    min-width: 320px;   /*Especifica a largura mínima que os elementos da tela principal irão ocupar (até largura máxima para quando o celular está na vertical)*/
    max-width: 840px;   /*Especifica largura máxima (quando o celular está deitado)*/
    margin-top: 30px;
    margin: 0 auto;     /* Mantém os elementos do bloco centralizados na página*/
    position: relative;
    /* width: 980px; */
    display: flex;      /* Para deixar um item ao lado do outro */
    justify-content: center;
}

footer a{
    margin: 20px;       /* Espaçamento entre ícones das redes sociais*/
    text-align: center;
}

footer p{
    margin-top: 2px;       /* Espaçamento entre ícones das redes sociais*/
}

.footer-2 {
    text-align: center;
    align-items: left;
    /* margin-left: auto; */
    /* margin-right: 100px; */
    margin-bottom: 50px;
}

/* ____________________________________________________ */
.container {
    padding: 0px 50px;      /* Reduzindo largura do conteúdo contido entre margem esquerda e direita da página*/
}

nav a:hover {
    color: red
}

/* SERVIÇOS */

.servicos-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 30px
}

.botaoconfig {
    background-color: #d3d3d3;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px black;
    border-radius: 20px;
}

.botaoconfig:hover {
background-color: red;
}


/* CONTATO: */


.form {
    width: 100%;
    max-width: 32rem;
}

.form label,
.form input,
.form textarea {
    display: block;
    width: 100%;
}
/*
 .form label {
    color: rgb(0, 0, 0);
    line-height: 1;
    margin-bottom: 0.5rem;
} 

.form input,
.form textarea {
    font: inherit;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: border-color;
    box-shadow: 0.2s;

}

*/
 .form textarea {
    margin-bottom: 1rem;
    border-radius: 8px;
    min-height: 13rem;
    resize: vertical;
}

/* 
.form input: hover,
.form input: focus,
.form textarea: hover,
.form textarea: focus {
    outline: none;
    border-color: #09d;
    box-shadow: 0 0 0 3px #4dc8ff;
}

*/

.form button {
    display: block;
    background: #0072c4;
    color: #fff;
    font: inherit;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.form button:hover,
.form button:focus {
    outline: none;
    background: #09d;
}



/* TUTORIAL BASE */

.form {
    width: 100%;
    max-width: 32rem;
    margin: 0 auto;
}
.form input {
border-radius: 8px;
width: 100%;
padding: 8px 0px;
margin: 8px 0px;
}

/* .form input[type=text] {
    height: 100px;
} */

button {
    /* margin-left: 12.5rem; */
    margin: 0 auto;
    background-color: white;
    border: none;
    width: 100px;
    height: 30px;
}

.whatsapp-link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.fa-whatsapp {
    margin-top: 16px;
}