@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.cdnfonts.com/css/a-pompadour-sample');

/* Configuração global: */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

html {
    font-size: 62.5%;    /* a cada 1rem será considerado 10px */
}

body {
    color: #0D0D0D;
    /* background-image: linear-gradient(to bottom, white, #f9f9f9, #D9D9D9); */
    /* background-image: linear-gradient(to bottom, #09034859, #4e55b248, #cca4d272, #f2d89b5d); */
    background-attachment: fixed;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'A Pompadour Sample', sans-serif; */
}


/*===== VARIABLES CSS =====*/


/* Cores da paleta logo:
Azul marinho: #090348
Azul claro:   #4e54b2
#4F0348#0D046ERoxo claro:   #cca4d2
Amarelo:      #f2d89b
*/

:root {
  --header-height: 4.5rem;
  
  /*===== Colores =====*/
  /* --first-color: #c5c5c5; */
  /* --first-color: #0D046E; */
  --first-color: #4E54B2;
  --dark-color: white;
  /* --dark-color: #090348; */
  --dark-color-alt: white;
  /* --dark-color-alt: #560349; */
  /* --white-color: #313030; */
  --white-color: #090348;
 

  /*===== z index =====*/
  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*===== _______________________BASE______________________ =====*/
*, ::before, ::after {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.dp-menu ul li:hover ul{
  display: block;
}

.bd-grid {
  max-width: 102.4rem;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/*===== _________________________HEADER_________________________ =====*/
.header {
  font-size: 10.5pt;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(var(--header-height) + 1.2rem);
  padding: 0 1.5rem;
  background-color: var(--dark-color);
  z-index: var(--z-fixed);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  /* box-shadow: 0 0.2rem 0.4rem rgb(86, 3, 73); */
}

/* .header__logo {
  color: var(--white-color);
} */

.header__toggle {
  font-size: 3rem;
  cursor: pointer;
  /* color: #090348; */
  color:#4E54B2;
  /* color: #4E54B2; */
}

/*===== ______________________NAV BAR__________________________ =====*/
@media screen and (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: var(--dark-color);
    color: var(--white-color);
    width: 50%;
    height: 100vh;
    padding: 1.5rem 0;
    z-index: var(--z-fixed);
    -webkit-transition: .5s;
    transition: .5s;
    overflow-y: auto;
  }
}

.nav__content {
  height: 100%;
  -ms-grid-rows: max-content 1fr max-content;
      grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
      grid-template-rows: max-content 1fr max-content;
  row-gap: 2rem;
}

.nav__close {
  position: absolute;
  right: 1.5rem;
  font-size: 1.3rem;
  padding: .25rem;
  background-color: var(--dark-color-alt);
  border-radius: 50%;
  cursor: pointer;
}

.nav__img {
  display: flex;
  justify-content: center;
  margin-bottom: .8rem;
  width: 106px;
  height: 106px;
  background-color: white;
  border-radius: 50%;
  /* border: 0.5px solid #343434; */
  border: 0.5px solid #4E54B2;
  overflow: hidden;
}

.nav__img img {
  width: 96px;
}

.nav__name {
  display: block;
  color: var(--white-color);
}

.nav__profesion {
  font-size: var(--small-font-size);
}

.nav__menu {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav__item {
  margin: 3rem 0;
}

.nav__link {
  padding: .3rem .5rem;
  border-radius: .25rem;
  color: var(--white-color);
}

/* Cores da paleta logo:
Azul marinho: #090348
Azul claro:   #4e54b2
Roxo claro:   #cca4d2
Amarelo:      #f2d89b
*/
.nav__link:hover {
  /* color: #595959; */
  color: white;
  background-color: var(--first-color);
}

.nav__social {
  padding-top: .5rem;
  margin-bottom: 3.5rem;
}

.nav__social-icon {
  font-size: 2.5rem;
  color: var(--white-color);
  margin-right: 1rem;
}

.nav__social-icon:hover {
  color: var(--first-color);
}

.nav__social-icon2 {
  font-size: 1.2rem;
  color: white;
  margin-right: 0.5rem;
}

.nav__social-icon2:hover {
  color: #c5c5c5;
  /* color: #560349 */
}

/*Aparecer menu*/
.show {
  left: 0;
}

/*Active menu*/
.active {
  /* color: #595959; */
  color: white
}

/*=== Dropdown ===*/
.dropdown__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default;
}

/* Ícone flechinha do dropdown */
.dropdown__icon {
  font-size: 2rem;
  transition: .5s;
}

.dropdown__menu {
  margin: 1rem 0 0 1rem;
  display: none;
}

.dropdown__item {
  margin: 1rem 0;
}

.dropdown:hover > .dropdown__menu {
  display: block;
}

.dropdown:hover .dropdown__icon {
  transform: rotate(180deg);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 576px) {
  .nav {
    width: 288px;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .header {
    height: calc(var(--header-height) + 1rem);
  }
  .header__logo, .header__toggle {
    display: none;
  }
  .nav {
    width: 100%;
  }
  .nav__content {
    -ms-grid-columns: (max-content)[3];
        grid-template-columns: repeat(3, -webkit-max-content);
        grid-template-columns: repeat(3, max-content);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav__close, .nav__profesion {
    display: none;
  }
  .nav__perfil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__img {
    width: 32px;
    height: 32px;
    margin-right: .5rem;
    margin-bottom: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__img img {
    width: 26px;
  }
  .nav__list {
    display: flex;
    align-items: center;
  }
  .nav__item {
    margin: 0 1rem;
  }
  .nav__link {
    padding: .3rem 1rem;
    border-radius: .5rem;
  }
  .nav__link:hover {
    background-color: var(--first-color);
  }

  .nav__social {
    padding-top: .5rem;
    margin-bottom: 0;
  }
  
  .active {
    background-color: var(--first-color);
    color: var(--white-color);
    color: white
  }

.dropdown {
  position: relative;
}
.dropdown__menu {
  background-color: white;
  position: fixed;
  margin: 0;
  padding: .5rem 1.5rem;
  border-radius: .5rem;
}
.dropdown__item {
  margin: .5rem 0;
}
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}
/* ___________________________________________________________________________ */

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto+Slab:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=PT+Sans+Narrow&family=Roboto+Slab:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');


main {
    min-width: 32rem;   /*Especifica a largura mínima que os elementos da tela principal irão ocupar (até largura máxima para quando o celular está na vertical)*/
    max-width: 102.4rem;   /*Especifica largura máxima (quando o celular está deitado)*/
    margin: auto;       /*Alinha conteudo ao centro*/
    width: 90%;
    /* float:left; */
    position: relative;
    margin-top: 6rem;
    padding-bottom: 8rem;
}

.main_container {
  min-width: 32rem;   /*Especifica a largura mínima que os elementos da tela principal irão ocupar (até largura máxima para quando o celular está na vertical)*/
  max-width: 120rem;   /*Especifica largura máxima (quando o celular está deitado)*/
  margin: auto;       /*Alinha conteudo ao centro*/
  /* width: 980px; */
  /* float:left; */
  position: relative;
  margin-top: 3rem;
  padding-bottom: 3rem;
}

/*_______________________ ACIMA DA BARRA DE NAVEGADOR ______________________*/

.tamlogo {
    width:20rem;
    height: auto;
}

/*_______________________ SOBRE MIM - HOMEPAGE ______________________*/

.container_homepage {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0 auto;
  width: 90%;
  max-width: 110rem;

   /* display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; */
}

.container_homepage h1 {
  margin-bottom: 1.6rem;
}

.config_foto_homepage {
  float: left;
  width: 36rem;
  height: auto;
  margin-right: 4rem;
}

.text-box p {
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'A Pompadour Sample', sans-serif; */
}

.wrapper {
  margin: 0 auto;
}

@media (max-width:768px) {
  .container_homepage {
      flex-direction: column;
      text-align: center;
}
  .config_foto_homepage {
    margin: 0 auto;
    float: none;
    max-width: 36rem;
  }

  /* .text-box p {
    text-align: center;
  } */

}

/* ______________________ TEXTOS ________________________________ */

/* CRIANDO CLASSE PARA CENTRALIZAR FOTOS/TEXTOS/ETC. */
.center {
    text-align: center;
    font-size: 1.6rem;
    /* text-align-last: center; */
    /* align-items: center; */
}   

.center p {
    text-align: justify;
}

.li_texto{
  font-size: 1.6rem;
  margin-left: 3rem;
  /* position: relative; */
  text-align: left;
}

.li_texto_ol{
  font-size: 1.6rem;
  margin-left: 5rem;
  text-align: left;
}

.cornome {
/* color: #069656; */
color: black;
}

/* FONTES */

/* Tamanho de fonte:
1px = 0.75pt
16px = 12pt */

h1 {
    font-size: 3.6rem;
    /* color:black; */
    /* color:#090348; */
    color:#4E54B2;
    padding: 0.2rem;
    /* font-family: 'A Pompadour Sample', sans-serif; */
  }

h2 {
    padding: 0.4rem;
    font-size: 2.8rem;
    /* color:#090348; */
    color:#4E54B2;
    /* font-family: 'A Pompadour Sample', sans-serif; */
    /* color:black; */
}

h3 {
  padding-top: 2rem;
  font-size: 2.2rem;
  color:#4E54B2;
  /* color:black; */
}

h4 {
  padding-bottom: 2rem;
  font-size: 1.8rem;
}

p {
    font-size: 1.6rem;
    color: black;
    padding: 1rem
}

/* ______________________DESCONHECIDO______________________ */

.coluna {
    flex-direction: column;
    gap: 32px;
}

.detel {
    margin-left: 8%;
    margin-top: 15%;
}

/*____________________________PROPRIEDADES IMAGENS___________________________________*/


img {
  max-width: 100%;
  height: auto;
  object-fit: scale-down;
}

.container_img {
  display: flex;
  max-width: 102.4rem;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.container_img img{
/* width: 51rem; */
object-fit: cover;
padding: 0.5rem;
/* height: 20rem; */
}

#imgesq{
  float:left;
  margin-right: 20px;
}
.vert_alin{
vertical-align: "middle";
}

/* _________Disposição de fotos em série:_______ */
.features {
  /* padding: 5px; */
  /* display: flex; */
  flex-wrap: nowrap | wrap | wrap-reverse;
  justify-content: center;
  width: 100%;
}

.features img {
  /* margin: auto; */
  height: 315px;
}

/* _________________BORDAS______________________ */

/* borda Perfil */
.borda {
    width: 150px;
    height: auto;
    border-radius:50%;          /* Estilizando bordas da imagem */
    border: 2px solid #8b8b8b;
    }

.borda_fina {    
    border: 1px solid #343434;
}

.borda_vert_alin{
  border: 1px solid #343434;
  vertical-align: middle;
  margin: 5px 20px;
  }

  /* __________________________________SEÇÕES______________________________________ */

section {
    border-top: 0.4px solid black;
    padding: 10px;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
}

/* ___________________________________ RODAPÉ _____________________________________ */

footer {
    /* max-width:max-content;   Especifica largura máxima (quando o celular está deitado) */
    /* background-color: black; */
    /* background-color: rgb(77, 77, 77); */
    background-color: #090348;
    min-width: 320px;   /*Especifica a largura mínima que os elementos da tela principal irão ocupar (até largura máxima para quando o celular está na vertical)*/
    padding-bottom: 25px;
    margin: 0 auto;     /* Mantém os elementos do bloco centralizados na página*/
    position: relative;
    /* width:max-width; */
    display: flex;      /* Para deixar um item ao lado do outro */
    justify-content: center;
}


footer p{
    margin-top: 25px;       /* Espaçamento entre ícones das redes sociais*/
    /* text-align: center; */
    color: white;
}

.footer-2 {
  min-width: 320px;   /*Especifica a largura mínima que os elementos da tela principal irão ocupar (até largura máxima para quando o celular está na vertical)*/
  /* text-align: center; */
  align-items: left;
  /* margin-left: auto; */
  /* margin-right: 100px; */
  margin-top: 70px;
}

/* ________________________________SERVIÇOS________________________________ */

.servicos-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 30px
}

.botaoconfig {
    background-color: #d3d3d3;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px black;
    border-radius: 20px;
}

.botaoconfig:hover {
background-color: red;
}


/* CONTATO: */


.form {
    width: 100%;
    max-width: 52rem;
    margin: 0 auto;
}

.form label,
.form input,
.form textarea {
    font-size: 1.4rem;
    display: block;
    width: 100%;
}

 .form textarea {
    margin-bottom: 1rem;
    border-radius: 8px;
    min-height: 13rem;
    resize: vertical;
}

.form button {
    font-size: 16px;
    display: block;
    background: #0072c4;
    color: #fff;
    /* font: inherit; */
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.form button:hover,
.form button:focus {
    outline: none;
    background: #09d;
}



/* _______________TUTORIAL BASE_________________________ */

.form input {
border-radius: 8px;
width: 100%;
padding: 8px 0px;
margin: 8px 0px;
}

button {
  /* margin-left: 12.5rem; */
  font-family: 'A Pompadour Sample', sans-serif;
  /* font-family: 'Catamaran', sans-serif; */
  cursor: pointer;
  margin: 0 auto;
  background-color: rgb(197, 197, 197);
  border: none;
  width: 100px;
  height: 30px;
}

.voltar {
  display: block;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  width: 80px;
  height: 30px;
  margin: 0 auto;
  background-color: rgb(197, 197, 197);
  /* box-shadow: 4px 5px 4px black; */

}

.voltar p{
  padding: 0.2em 0.3em;
}

.voltar_p {
  margin-left: 12px;
  color: var(--white-color);
}

/* _______________ACESSO WHATS_________________ */
.whatsapp-link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.fa-whatsapp {
    margin-top: 16px;
}

.sembotao {
/* display: block; */
background: transparent;
}