
.titlepage {
    text-align: center;
    padding-bottom: 20px;
}

.titlepage h2 {
    /* font-size: 45px; */
    color: #2e2d2d;
    line-height: 45px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

/** What We Do section **/

.we_do {
    padding-top: 10px;
    padding-bottom: 40px;
    /* background-color: #fff; */
    position: relative;
}

.servmargem {
    margin-left: 8%;
    gap:100px
}

@media (max-width: 768px) {
    .we_do {
        margin: 0 1rem 0 1rem;  /*distancia topo | distancia direita | distancia base | distancia esquerda*/
    }    
    .servmargem {
        margin-left: 0%;
    }
}    
    /* .slin::before {
    position: absolute;
    content: "";
    bottom: 0%;
    background: url(../images/slin.png);
    background-repeat: no-repeat;
    max-width: 820px;
    height: 147px;
    right: 15%;
    width: 100%;
} */

.we_box {
    text-align: center;
    margin-bottom: 30px;
}

.we_box i {
    border-radius: 50%;
    border: #404040 solid 1px;
    width: 210px;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.we_box h3 {
    font-size: 24px;
    font-weight: bold;
    line-height: 25px;
    padding-bottom: 5px;
    color: #2e2d2d;
    padding-top: 30px;
}


/** end What We Do section **/