
.titlepage {
    text-align: center;
    /* padding-bottom: 2rem; */
}

.titlepage h1 {
    /* font-size: 45px; */
    /* color: #2e2d2d; */
    line-height: 45px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    /* padding-bottom: 2.5rem; */
    margin-bottom: 1.6rem;
}

.container_servicos {
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* background-color: #fff; */
    position: relative;
}

/** What We Do section **/

.container2 {

    margin: 0 auto;     /* Mantém os elementos do bloco centralizados na página*/
    /* width:90%; */
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 0.5rem;
}

.flex-item {
    width:37rem;
    background: #cca4d220;
    border: 0.5px solid black;
    padding: 2rem;
    text-align: center;
}

.flex-item i {
    border-radius: 50%;
    border: #404040 solid 1px;
    width: 21rem;
    height: 21rem;
    display: flex;
    margin: 0 auto;
}

.flex-item img {
    margin: 0 auto;
}

.flex-item h3 {
    text-align:center;
    margin-top: 1rem;
}

.flex-item p {
    text-align: justify;
}
