/* * {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;} */

/* Slideshow container */
.slideshow-container {
padding-top: 54px;
  max-width: max-content;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  /* color: rgb(139, 139, 139); */
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Cores da paleta logo:
Azul marinho: #090348
Azul claro:   #4e54b2
Roxo claro:   #cca4d2
Amarelo:      #f2d89b
*/

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  /* background-color: #f2f2f2; */
  background-color: #4F0348;
}

/* Caption text */
.text {
  color: #f2f2f2;
  /* color: black; */
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: left;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  /* background-color: rgb(139, 139, 139); */
  background-color: #cca4d29e;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  /* background-color: #c5c5c5; */
  /* background-color: #0D046E; */
  background-color: #4E54B2;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
/* @media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
} */



@media only screen and (max-width: 768px) {
  .slideshow-container {
display: none;  
  }